name: ci
on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
  pull_request:
    paths-ignore:
      - 'README.md'
jobs:
  lint:
    strategy:
      matrix:
        go-version: [1.19.x]
        os: [
          # NOTE: ignore windows because it will be timeout
          #windows-latest,
          macos-latest,
          ubuntu-latest
        ]
    name: golangci-lint
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/checkout@v4
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.51.2
      - name: go vet
        run: go vet ./...
      - name: go build
        run: go build
  test:
    strategy:
      matrix:
        go-version: [1.19.x]
        os: [windows-latest, macos-latest, ubuntu-latest]
    name: test
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: actions/cache@v4.0.0
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: go test
        run: go test -v ./... -coverprofile=coverage.out
      - uses: k1LoW/octocov-action@v1
        if: runner.os == 'Linux'
